VUE_APP_MAIN_WEBSITE_URL={{.VUE_APP_MAIN_WEBSITE_URL}}
VUE_APP_SERVER_ROOT={{.VUE_APP_SERVER_ROOT}}
VUE_APP_ROOT={{.VUE_APP_ROOT}}
VUE_APP_WEBSOCKET_ADDRESS={{.VUE_APP_WEBSOCKET_ADDRESS}}
VUE_APP_MAIN_WEBSOCKET_ROOT={{.VUE_APP_MAIN_WEBSOCKET_ROOT}}
VUE_APP_POSTHOG_TOKEN={{.VUE_APP_POSTHOG_TOKEN}}
VUE_APP_FEATURE_FLAG_ROOT={{.VUE_APP_FEATURE_FLAG_ROOT}}
VUE_APP_FEATURE_FLAG_CLIENT_KEY={{.VUE_APP_FEATURE_FLAG_CLIENT_KEY}}
VUE_APP_ZWIBBLER_URL={{.VUE_APP_ZWIBBLER_URL}}
VUE_APP_UNLEASH_ID={{.VUE_APP_UNLEASH_ID}}
VUE_APP_UNLEASH_NAME={{.VUE_APP_UNLEASH_NAME}}
VUE_APP_DEVTOOLS={{.VUE_APP_DEVTOOLS}}
VUE_APP_SENTRY_ENV={{.VUE_APP_SENTRY_ENV}}
VUE_APP_SENTRY_DSN={{.VUE_APP_SENTRY_DSN}}
VUE_APP_CUSTOM_VOLUNTEER_PARTNER_ORGS={{.VUE_APP_CUSTOM_VOLUNTEER_PARTNER_ORGS}}
VUE_APP_NEW_RELIC_ACCOUNT_ID={{.VUE_APP_NEW_RELIC_ACCOUNT_ID}}
VUE_APP_NEW_RELIC_APP_ID={{.VUE_APP_NEW_RELIC_APP_ID}}
VUE_APP_NEW_RELIC_LICENSE_KEY={{.VUE_APP_NEW_RELIC_LICENSE_KEY}}
VUE_APP_NEW_RELIC_AGENT_ID={{.VUE_APP_NEW_RELIC_AGENT_ID}}
VUE_APP_NEW_RELIC_TRUST_KEY={{.VUE_APP_NEW_RELIC_TRUST_KEY}}
VUE_APP_GLEAP_SDK_KEY={{.VUE_APP_GLEAP_SDK_KEY}}
