// Colors
$c-accent: #16d2aa;
$c-backdrop-clear: #f0f7fd;
$c-backdrop-warn: #feeab2;
$c-backdrop: #e3f2fd;
$c-bg: #f6f6f6;
$c-college: #fed766;
$c-math: #f7aef8;
$c-sat: #54defd;
$c-shadow-header: #e1e1e1;
$c-shadow-warn: #f44747;
$c-shadow: #1855d1;

// Fonts
$default-font: 'Work Sans', Helvetica, Arial, sans-serif;

// Maps
$breakpoint-map: (
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'huge': 1200px
);
