.uc-form {
  @include flex-container(column);
  $size: 500px;

  background: white;
  font-size: 16px;

  width: 100%;
  max-width: $size;
  min-height: $size;
}

.uc-form-header {
  @include flex-container(row, space-between);
  padding: 25px;
  padding-bottom: 0;
}

.uc-form-header-link {
  $className: &;

  color: #73737a;
  font-weight: 600;
  
  &--active {
    @extend #{$className};
    color: $c-accent;
  }
}

.uc-form-body {
  @include flex-container(column);
  @include child-spacing(50px);

  margin: auto 0;
  padding: 50px;
}

.uc-form-label {
  color: #343440;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.uc-form-input {
  border: none;
  border-bottom: 3px solid $c-accent;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border-bottom: 3px solid lighten($c-accent, 10%);
  }

  &-description {
    color: #73737a;
    font-size: 12px;
    margin-top: 6px;
    text-align: left;
  }
}

.uc-form-button {
  background: #f6f6f6;
  border: none;
  border-radius: 20px;
  color: $c-accent;
  
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  min-height: 40px;
  
  &:hover, &:active {
    color: white;
    background: $c-accent;
  }
}
