.uc-column {
  @include flex-container(column);
  align-self: stretch;

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: end;
  }

  &.items-center {
    align-items: center;
  }
}

.uc-row {
  @include flex-container(row);

  &.justify-between {
    justify-content: space-between;
  }

  &.items-center {
    align-items: center;
  }
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.h-full {
  height: 100%;
}

.center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}