// This file is imported in App.vue.

@import '~bootstrap/dist/css/bootstrap.css';
@import '~typeface-work-sans/index.css';

@import '~@/assets/fonts/upchieve_icon_font.css';

@import 'layout/utils';
@import 'layout/form';

body {
  background: $c-background-grey;
  color: $c-soft-black;

  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  min-height: 100vh;
}
